@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 180 71% 93%;
    --foreground: 240 10% 3.9%;
    --card: 180 71% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 180 71% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 20% 85%;
    --secondary-foreground: 180 100% 15%;
    --muted: 180 20% 90%;
    --muted-foreground: 240 5.9% 60%;
    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 88%;
    --ring: 180 100% 35%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 180 80% 35%;
    --chart-3: 180 60% 45%;
    --chart-4: 180 40% 55%;
    --chart-5: 180 20% 65%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 200 20% 7%;
    --foreground: 0 0% 98%;
    --card: 200 20% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 200 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 20% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 20% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 20% 15%;
    --input: 200 20% 15%;
    --ring: 180 100% 50%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 180 80% 35%;
    --chart-3: 180 60% 45%;
    --chart-4: 180 40% 55%;
    --chart-5: 180 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
